@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: #000000D2;
    height: 100px;
    position: relative;
}

#logo-nav{
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}

nav ul{
    position: absolute;
    top: 45%;
    left: 25%;
    letter-spacing: 2px;
    word-spacing: 40px;
}

nav ul li{
    display: inline-block;
}

.spacing-normal{
    word-spacing: normal;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    text-shadow: -2px 2px 20px #84b6f4,-2px 2px 20px #84b6f4,
    -2px 2px 20px #84b6f4;
    margin-right: 10px;
}

nav ul li:hover{
    opacity: 0.5;
}


@media only screen and (max-width: 800px){
    
    nav{
        width: 100%;
        height: 330px;
    }
    
    nav #logo-nav{
        display: block;
    }

    nav ul{
        display: inline-block;
        position: static;
        text-align: center;
        margin-top: 30px;
        
    }

    nav ul li{
        width: 100%;
        padding: 10px;
    }

    nav ul li:hover{
        background-color: #101010;
        opacity: 0.5;
    }

    div #logo-nav{
        margin: 0 auto;
        text-align: center;
    }

}