@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(..//img/prueba.png);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

#titulo {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 70px;
  color: #fff;
  text-shadow: 2px 2px 0 #006bfb, 2px -2px 0 #006bfb, -2px 2px 0 #006bfb, -2px -2px 0 #006bfb, 2px 0px 0 #006bfb, 0px 2px 0 #006bfb, -2px 0px 0 #006bfb, 0px -2px 0 #006bfb, 2px 2px 0 #006bfb, 2px -2px 0 #006bfb, -2px 2px 0 #006bfb, -2px -2px 0 #006bfb, 2px 0px 0 #006bfb, 0px 2px 0 #000, -2px 0px 0 #006bfb, 0px -2px 0 #006bfb, 2px 2px 0 #006bfb, 2px -2px 0 #006bfb, -2px 2px 0 #006bfb, -2px -2px 0 #006bfb, 2px 0px 0 #006bfb, 0px 2px 0 #006bfb, -2px 0px 0 #006bfb, 0px -2px 0 #006bfb;
}

strong {
  color: #006bfb;
}

p {
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  line-height: 1.2;
  padding-bottom: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

h2, h3 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

#lista-beneficios {
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  line-height: 1.2; 
  list-style-type: none;
  margin-bottom: 50px;
}

#lista-beneficios li {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 10px;
}

iframe {
  width: 45%;
  border:100px groove #010d36;
  border-radius:15px;
}

#div-ubicacion {
  display: flex; /* Activa el modelo de flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */ 
}

#direccion {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  opacity: 0.5;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  p, #lista-beneficios {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 992px) {
  #titulo {
    font-size: 50px;
  }
  p, #lista-beneficios {
    padding-left: 100px;
    padding-right: 100px;
  }
  iframe {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #titulo {
    font-size: 40px;
  }
  p, #lista-beneficios {
    padding-left: 50px;
    padding-right: 50px;
  }
  iframe {
    width: 80%;
  }
}

@media (max-width: 576px) {
  #titulo {
    font-size: 30px;
  }
  p, #lista-beneficios {
    padding-left: 20px;
    padding-right: 20px;
  }
  iframe {
    width: 100%;
  }
}